body{
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f5f5fa;
}

/* shared styles */
.btn{
    background-color: #4E47FF;
    color: #fff;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 7px;
    border: none;
    font-size: 13px;
    cursor: pointer;
}
.sign-up{
    padding: 12px 30px;
}
.stay-focused{
    padding: 12 px 30px;
}
.btn:hover{
    background-color: #02021e;
}

/* header styles */
.header{
    background: url(Hero-bg.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 20px 20px;
}

/* navbar styles */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 105px 0 105px;
}

.logo{
    color: #4E47FF;
    font-weight: bold;
    font-size: 30px;
    padding: 0px 0 20px 0;
}

/* banner styles */ 

.banner-content{
    /* padding: 100px 0px; */
    margin-top: 120px;
    padding-bottom: 100px;
}

.banner-title{
    font-size: 50px;
    color: #252432;
}

/* Action Section */

.launch-preview-btn{
    padding: 12 px 30px;
    background-color: #4E47FF;
} 


.action-section{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 105px 0 105px;
    gap: 270px;
}

.action-content{
    max-width: 300px;
}

.action-content h2{
    font-size: 2rem;
    color: #252432;
    margin-bottom: 15px;
}


.action-content p{
    color:#6b6b6b;
    margin-bottom: 20px;
}

.action-image img{
    border-radius: 50px;
    max-width: 100%;
    height: 250px;
    margin-top: 50px;
}

/* Productive user section */


.productive-container{
    background-color: #c8d2fb;
    border-radius: 25px;
    margin: 150px auto;
    padding: 40px 50px;
    align-items: center;
    max-width: 1000px;
    text-align: center;
}

.productive-container h2{
    margin-bottom: 30px;
    font-size: 30px;
    color: #1f1f1f;
    font-weight: 600px;
}

.productive-content{
    display: flex;
    gap: 80px;
    justify-content: center;
    /* flex-wrap: wrap; */
}

.productive-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #4640f7;
    padding-bottom: 20px;
}

.productive-item .value{
    font-size: 60px;
    font-weight: bold;

}

.productive-item .line{
        color:#5c5b5b;
}


/* users section styles */

.reviews-section{
   justify-content: center;
   /* padding-top: 100px; */
   padding-bottom: 130px;
}

.reviews-section h2{
    font-size: 32px;
    /* margin-bottom: 40px; */
    color: #1f1f1f;
    text-align: center;
}

.reviews{
    display: flex;
    gap: 20px;
    justify-content: center;

}

.review-card{ 
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.35);
    width: 300px;
    text-align: left;
    padding-left: 20px;
    padding-top: 20px;
}

.stars{
    display: flex;
    gap: 4px;
}

.review-title{
    font-size: 17px;
    color: #333;
}

.review-text{
    font-size: 15px;
    color: #777676;
}
.review-footer{
    display: flex;
    align-items: center;
    gap:10px
}

.user-image{
    width: 32px;
    height: 32px;
    border-radius: 80px;
}

.reviewer-info{
    font-size: 12px;
    color: #868484;
}



/* <!-- Contact form styles --> */

.contact-section{
    display: flex;
    justify-content: center;
    gap: 170px;
    align-items: flex-start;
    max-width: 1000px;
    margin: 0 auto;
    padding: 100px 0;
}

.lets-get-in-touch{ 
    font-size: 80px;
    padding-top: 50px;
}
.contact-text{
    font-size: 40px;
    gap: 16px;
    /* flex-direction: column; */
    font-weight: bold;
    color: #1f1f1f;
    line-height: 1.2;
}

.contact-form{
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 400px;
}

.contact-form label{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
}
.contact-form input{
    padding: 16px 18px;
    border: 1px solid #ddd;
    border-radius: 10px;
}
.contact-form textarea{ 
  padding: 16px 18px;
  border: 1px solid #ddd;
  border-radius: 20px;
}

    /* footer section */

.footer{
    text-align: center;
    justify-items: center;
    background-color: white;
    padding: 60px 0px;
}

.logo2{
    font-size: 72px;
    font-weight: bold;
    color: #4640f7;
    margin: 0;
    text-align: center;
}

.description{
    color: #888888;
    max-width: 600px;
    margin: 20px auto;
    font-size: 18px;
    text-align: center;
    line-height: 1.6;
    margin-bottom: 0;
}


.footer-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px;
}
.footer-nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li{

    margin-right: 2.5rem;
    font-size: 21px;
    font-weight: bold;
    font-size: 18px;
    color: #888888;

}
.footer nav a{
    text-decoration: none;
}

